.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 50px auto 0;
    border: 1px silver solid;
    border-radius: 10px;
    width: fit-content;
    background-color: rgb(238, 238, 238);
}

.search {
    width: 300px;
    margin: 50px 0 0;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    outline: none;
    transition: all 0.2s ease;
    border: 1px solid #ee7979;
}

.paginateContainer {
    margin: 20px 0 50px;
}
